*{
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #FBFBFB;
}
.navbar{
display:flex;
justify-content:space-between;
align-items:center;
padding:30px 80px;
max-width: 1200px;
margin: auto;
}

.logo{
display:flex;
align-items:center;
gap:10px;
}

.logo h2{
font-weight:600;
color:#2e3a46;
}

.circle{
width:40px;
height:40px;
border-radius:50%;
border:3px solid #8fd0b3;
}

nav{
display:flex;
gap:40px;
}

nav a{
text-decoration:none;
color:#5b6b7c;
font-weight:500;
background-color: transparent;
}

nav .active{
color:#57b091;
}

.test-btn{
background:#63b38d;
color:white;
border:none;
padding:12px 24px;
border-radius:30px;
font-weight:500;
cursor:pointer;
}

.hero{
display:flex;
align-items:center;
justify-content:space-between;
padding:60px 80px;
background-image: url(./photo/OBJECTS.png);
background-size: cover;       
background-position: center;
background-repeat: no-repeat;
min-height: 700px;
margin-top: -140px;
}

.hero-left{
max-width:550px;
}

.hero-left h1{
font-size:64px;
line-height:1.15;
font-weight:600;
color:#344b63;
}

.hero-left h1 span{
color:#58b19a;
}

.hero-left p{
margin-top:25px;
font-size:18px;
color:#6b7a89;
line-height:1.5;
}

.hero-actions{
margin-top:35px;
display:flex;
align-items:center;
gap:25px;
}

.cta{
background:#f0a874;
border:none;
color:white;
padding:16px 30px;
border-radius:30px;
font-size:16px;
cursor:pointer;
}

.sub{
font-size:13px;
color:#8c99a6;
}

.hero-right img{
width:520px;
}

.logos{
display:flex;
justify-content:space-between;
align-items:center;
padding:40px 80px;
opacity:0.6;
max-width: 1200px;
margin: auto;
}

.logos img{
height:28px;
filter:grayscale(100%);
width: 10%;
height: 80%;
}

.immigration{
    max-width: 1200px;
    margin: 80px auto;
}
.immigration h1{
    font-size: 40px;
}
.immigration h4{
    color: #5B6574;
    margin-top: 20px;
    line-height: 150%;
}
.cont{
    margin: 100px auto;
}
.left{
    width: 35%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.card{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 270px;
}
.help{
    max-width: 1200px;
    margin: 110px auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: center;
}
.help h1{
    font-size: 40px;
}
.help h4{
    color: #5B6574;
}
.prof{
    display: flex;
    margin: 40px auto;
}
.prof div img{
    width: 90%;
}
.prof div {
    display: flex;
    gap: 20px;
    flex-direction: column;
    align-items: center;
}
.arrow{
    width: 7%;
    height: 70px;
    position: relative;
    top: 70px;
    right: 20px;
}
.arrow1{
    right: 0px;
}
.ui{
    color: #57b091;
}

.visa{
    max-width: 1200px;
    margin: auto;
}
.visa h1{
    font-size: 40px;
}
.visa h4{
    color: #5B6574;
    margin-top: 20px;
    line-height: 150%;
}
.pricing{
display:flex;
gap:40px;
margin-top: 30px;
}
.card1{
background:white;
padding:40px;
border-radius:16px;
flex:1;
box-shadow:0 8px 25px rgba(0,0,0,0.05);
width: 40%;
}

.card h2{
font-size:32px;
padding-bottom:25px;
}

.item{
display:flex;
gap:15px;
margin-bottom:20px;
}

.number{
width:28px;
height:28px;
border-radius:50%;
background:#f4a572;
color:white;
display:flex;
align-items:center;
justify-content:center;
font-size:14px;
flex-shrink:0;
}

.item p{
font-size:14px;
color:#4b5563;
line-height:1.6;
}

.small{
font-size:12px;
color:#8b8b8b;
margin-top:10px;
}

.choose{
margin-top:30px;
background:#63b38d;
border:none;
padding:14px 36px;
border-radius:28px;
color:white;
font-size:14px;
cursor:pointer;
}
.platform{
    max-width: 1200px;
    margin: 100px auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.platform h1{
    font-size: 40px;
}
.platform h5{
    color: #5B6574;
}
.platform button{
    border: none;
    border-radius: 15px;
    background-color: #E7EEFA;
    padding: 13px 24px;
}
.sure{
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    text-align: center;
    flex-direction: column;
}
.sure h1{
    font-size: 40px;
}
.testimonials{
padding:80px 20px;
}

.container{
max-width:1100px;
margin:auto;
}

.section-title{
font-size:36px;
margin-bottom:30px;
color:#3a3a3a;
}

.testimonial-box{
display:flex;
align-items:center;
gap:20px;
}

.arrow{
width:40px;
height:40px;
border-radius:50%;
border:none;
background:#eaeaea;
font-size:22px;
cursor:pointer;
position: relative;
top: -10px;
}

.arrow.right{
background:#eaeaea;
color:white;
}
.arrow:hover{
    background:#63b38d;
}

.testimonial-card{
background:#f3e7de;
padding:40px;
border-radius:16px;
display:flex;
gap:40px;
flex:1;
}

.profile{
width:220px;
border-radius:14px;
padding:25px;
text-align:center;
background:white;
}

.profile img{
width:90px;
height:90px;
border-radius:50%;
object-fit:cover;
margin-bottom:10px;
}

.profile h4{
margin-bottom:10px;
}

.tags span{
display:inline-block;

padding:6px 12px;
border-radius:10px;
font-size:12px;
margin:4px;
}

.testimonial-text{
flex:1;
}

.main-text{
font-size:16px;
line-height:1.6;
margin-bottom:15px;
color:#444;
}

.small-text{
font-size:14px;
color:#666;
line-height:1.6;
}

.faq-title{
margin-top:80px;
}

.faq-item{
background:white;
border-radius:12px;
margin-bottom:15px;
overflow:hidden;
box-shadow:0 3px 10px rgba(0,0,0,0.04);
}

.faq-question{
width:100%;
padding:18px 20px;
background:white;
border:none;
text-align:left;
font-size:16px;
display:flex;
justify-content:space-between;
cursor:pointer;
}

.faq-answer{
padding:20px;
font-size:14px;
color:#555;
background:#f9fafb;
}
.faq-answer ul{
margin-top:10px;
padding-left:18px;
}
.faq-question1{
    width:100%;
padding:18px 20px;
background:white;
border:none;
text-align:left;
font-size:16px;
display:flex;
justify-content:space-between;
cursor:pointer;
color: #57b091;
}

footer{
    background-color: #2e3a46;
    max-width: 1200px;
    margin: auto;
    display: flex;
    gap: 20px;
    justify-content: space-around;
    align-items: start;
    padding: 20px;
    border-radius: 15px;
    margin-top: 90px;
    margin-bottom: -280px;
}
.siti{
    display: flex;
    flex-direction: column;
    gap: 30px;
    background-color: #2e3a46;
}
.siti p{
    background-color: #2e3a46;
}
.m{
    color: white;
}
.q{
    color: #707882;
}
.n{
    color: #5EB083;
}
.sic{
    background-color: #2e3a46;
    display: flex;
    gap: 5px;
}
.sic div {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #272A2D;
    text-align: center;
    align-content: center;
}
.sic img{
    background-color: transparent;
}
footer img{
    background-color: transparent;
}